<?xml version="1.0" encoding="utf-8" ?>
<!--	expression 示例
	每隔	10分钟(0 0/10 * * * ?)，在每小时 00 10 20 30 40 50 分别执行一次
	每天	9点(0 0 9 * * ?)
	每天	12点半(0 30 12 * * ?)
	-->
<app-jobs>
	<request>
		<add jobname="双公示同步" expression="0 0/10 * * * ?" 
				 url="http://10.194.100.78:8092/api/v1/default/license/sync_sgs" type="GET" />
	</request>
	<execute>
		<add jobname="广州地铁客流数据采集" expression="0 0/1 * * * ?"
				 method="main" args="int:13,string:23,DateTime?:type" class="GZMetroReaper.FlowCatch,GZMetroReaper" />
	</execute>
</app-jobs>