<?xml version="1.0" encoding="utf-8" ?>
<!--<app-jobs>
	<request>
		<add jobname="双公示同步" expression="0 0/10 * * * ?" url="http://10.194.100.78:8092/api/v1/default/license/sync_sgs" type="GET" />
	</request>
</app-jobs>-->
<app-jobs>
  
  <request-jobs>
    <request jobname="双公示同步" expression="0 0/10 * * * ?" url="http://10.194.100.78:8092/api/v1/default/license/sync_sgs" type="GET"></request>
  </request-jobs>

</app-jobs>