<?xml version="1.0" encoding="utf-8" ?>
<steve>
  <!--<data>
    <add name="yichuang" type="oracle">
      <![CDATA[
      
      ]]>
    </add>
    <add name="yichuang" type="oracle"></add>
  </data>-->
  <!--<listener>
    <listen name="sync_completed" url="http://localhost:8080/sync/callback"></listen>
  </listener>-->
  <jobs>
    <job name="双公示同步" expression="0 0/10 * * * ?">
      <request type="GET" url="http://10.194.100.78:8092/api/v1/default/license/sync_sgs"></request>
    </job>
    <!--<job name="数据复制" expression="0 0/10 * * * ?">
      <replication>
        <source data="yichuang">
          <![CDATA[
          select zzmc,zzhm,cyrsfzjhm,qymc,fzjgmc,fzrq,yxqjsrq,cyrmc,zi,hao,yhmc,dz,clhp,jyxkzh,cllx,dzw,clcmm,clkmm,clgmm,jyfw,bz,yxqz1,yxqz2,yxqz3,yxqz4,wzjl1,wzjl2,wzjl3,sign_state
            from db_road_trans_truck
           where rownum < :limit
          ]]>
        </source>
        <target data="yichuang">
          <![CDATA[
          select zzmc,zzhm,cyrsfzjhm,qymc,fzjgmc,fzrq,yxqjsrq,cyrmc,zi,hao,yhmc,dz,clhp,jyxkzh,cllx,dzw,clcmm,clkmm,clgmm,jyfw,bz,yxqz1,yxqz2,yxqz3,yxqz4,wzjl1,wzjl2,wzjl3,sign_state
            from db_road_trans_truck
           where rownum < :limit
          ]]>
        </target>
      </replication>
    </job>-->
    <!--<job name="序列任务" expression="0 0/10 * * * ?">
      <sequence>
        <step index="1">
          <request type="GET" url="http://10.194.100.78:8092/api/v1/default/license/sync_sgs" />
        </step>
        <step index="2">
          
        </step>
      </sequence>
    </job>-->
  </jobs>
</steve>